[submodule "ws/src/sllidar_ros2"]
	path = ws/src/sllidar_ros2
	url = https://github.com/Slamtec/sllidar_ros2.git
[submodule "ws/src/urg_node2"]
	path = ws/src/urg_node2
	url = https://github.com/Hokuyo-aut/urg_node2.git
